@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Montserrat:wght@300;400;500;600&family=Allura&display=swap');

:root {
  --lux-green: #0B3D2E;
  --lux-gold: #D4AF37;
  --lux-lime: #A4D53A;
  --lux-deep: #073224;
  --lux-beige: #F4EEDC;
}
